.tableContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #f0f0f0;
  box-shadow: 0 2px 5px #0000001a;
  background-color: #fff;
  border-radius: 4px;
  margin: 0rem 4rem 0 4rem;
}

.header {
  display: flex;
  color: #848484;
  font-size: 14px;
  font-size: .875rem;
  margin: 3rem 4rem 0 4rem;
  padding-left: .5rem;
}
